<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Fire Detection with AI</title>
    <link href="{{ url_for('static', filename='fontawesome-5.5/css/all.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='slick/slick.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lick/slick-theme.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='magnific-popup/magnific-popup.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/tooplate-infinite-loop.css') }}" rel="stylesheet" />
<!--
Tooplate 2117 Infinite Loop
https://www.tooplate.com/view/2117-infinite-loop
-->

  </head>
  <body>    
    <!-- Hero section -->
    <section id="infinite" class="text-white tm-font-big tm-parallax">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">              
        <div class="container">   
          <div class="tm-next">
              <a href="#infinite" class="navbar-brand">Health Club 3 Weeks</a>
          </div>             
            
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars navbar-toggler-icon"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#infinite">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#whatwedo">Stack</a>
              </li>
              <li class="nav-item">
                <a class="nav-link tm-nav-link" href="#testimonials">Test</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#gallery">Info</a>
              </li>                   
            </ul>
          </div>        
        </div>
      </nav>
      
      <div class="text-center tm-hero-text-container">
        <div class="tm-hero-text-container-inner">
            <h2 class="tm-hero-title">Fire Detection with AI</h2>
            <p class="tm-hero-subtitle">
                헬스장 3주차의 쿠톤 프로젝트
            </p>
        </div>        
      </div>

      <div class="tm-next tm-intro-next">
        <a href="#whatwedo" class="text-center tm-down-arrow-link">
          <i class="fas fa-2x fa-arrow-down tm-down-arrow"></i>
        </a>
      </div>      
    </section>

    <section id="whatwedo" class="tm-section-pad-top">
      
      <div class="container">

            <div class="row tm-content-box"><!-- first row -->
                <div class="col-lg-12 col-xl-12">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4 tm-section-title">Technical Stack</h2>
                        <p class="mb-4 tm-intro-text">
                          화재 재난을 AI로 극복하고자, 우리 팀은 화재 감지를 AI로 하여 사람이 알아 낼 수 없는 화재를 빠르게 감지하여 큰 불로 번지는 것을 막는 것을 목표로 하고 있습니다.
                        이를 통해 보다 빠른 대처와 해결을 통해 재난을 극복하는 것에 초점을 두고 있습니다.  </a></p>
                    </div>
                </div>

            </div><!-- first row -->
            
            <div class="row tm-content-box"><!-- second row -->
        		<div class="col-lg-1">
                    <i class="far fa-3x fa-chart-bar text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">모델 선정</h2>
                        <p class="mb-4 tm-intro-text">
                          용량과 계산을 줄일 수 있는 지에 초점을 두어 연산량을 줄이는 데 집중하여 구현된 SuffleNet을 사용하였습니다.</p>
                    </div>
                    <div class="tm-continue">
                      <a href="#testimonials" class="tm-intro-text tm-btn-primary">Details</a>
                  </div>
                </div>
                
                <div class="col-lg-1">
                    <i class="far fa-3x fa-comment-alt text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Quantization 양자화</h2>
                        <p class="mb-4 tm-intro-text">
                          딥러닝 모델에 저장된 float 형 weight들의 분포를 관찰하여 정수형으로 변환하였습니다. </a> </p>
                    </div>
                </div>

            </div><!-- second row -->
            
            <div class="row tm-content-box"><!-- third row -->
        		<div class="col-lg-1">
                    <i class="fas fa-3x fa-fingerprint text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Pruning 가지치기</h2>
                        <p class="mb-4 tm-intro-text"> 모델에 저장된 weight, bias 중, 중요하지 않은 값들을 찾아 지워 전체 계산량을 줄였습니다. 
                          다양한 기법중 간단하고 직관적인 기준인 L1_Norm을 선택하여 기존 모델의 전체 파라미터 중 20%를 제거해주었습니다</p>
                          
    
                    </div>
                </div>
                
                <div class="col-lg-1">
                    <i class="fas fa-3x fa-users text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                      <h2 class="tm-text-primary mb-4">openCV</h2>
                        <p class="mb-4 tm-intro-text"> 화재 가능성이 있는 부분들을 모두 표시하여, 화재가 어느부분에서 발생했는지 알 수 있도록 했습니다. 또한 객체 탐지 알고리즘에 비하여 훨씬 적은 계산량으로 이를 수행할 수 있습니다. 
                        </p>
                        
                    </div>
                </div>

            </div><!-- third row -->

        </div>
      
    </section>
    
    <section id="testimonials" class="tm-section-pad-top tm-parallax-2">      
      <div class="container tm-testimonials-content">
        <div class="row">
          <div class="col-lg-12 tm-content-box">
            <h2 class="text-white text-center mb-4 tm-section-title">모델의 경량화</h2>
            <p class="mx-auto tm-section-desc text-center">
                
              </p>
            <div class="mx-auto tm-gallery-container tm-gallery-container-2">
              <div class="tm-testimonials-carousel">
                <figure class="tm-testimonial-item">
                  <blockquote>1. ShuffleNet
                    <p>
                      object detection에 많이 사용되고 있는 YOLOv3 기반의 FireNet의 weight 파일의 크기는 235MB, ShuffleNet은 0.76MB로 상대적으로 크게 가벼운 모델임을 확인할 수 있습니다.

                      </p>
                  </blockquote>
                </figure>

                <figure class="tm-testimonial-item">
                  <blockquote>2. kaggle fire dataset
                      <p>
                        kaggle에서 제공하는 fire dataset에 약 750개의 fire image와 약 250개의 non fire image를 통해 정확도를 계산한 결과입니다.
                      </p>
                  </blockquote>
                </figure>

                <figure class="tm-testimonial-item">
                  <blockquote>3. Pruning
                      <p>
                        Pruning을 완료한 후 정확도를 다시 측정하였을 때 94.22%로, 경량화 후에도 우수한 성능을 유지했습니다.
                      </p>
                  </blockquote>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tm-bg-overlay"></div>
    </section>
    <section id="gallery" class="tm-section-pad-top">
      <div class="container tm-container-gallery">
        <div class="row">
          <div class="text-center col-12">
              <h2 class="tm-text-primary tm-section-title mb-4">기술 구현</h2>
              <p class="mx-auto tm-section-desc">
                  사용된 unity, opencv, 딥러닝 모델들의 구현
              </p>
              <p class="mx-auto tm-section-desc">
                이를 발전시켜 CCTV 영상을 실시간으로 분석하여 빠른 화재 탐지를 가능하게 합니다. 
            </p>
              <video width="1000" height="600" controls
              poster="{{ url_for('static', filename='img/1.png') }}">
                <source src="./forest.mp4" type="video/mp4">
                <strong>Your browser does not support the video tag.</strong> 
              </video>

              <video width="1000" height="600" controls
              poster="{{ url_for('static', filename='img/1.png') }}">
                <source src="./forest_after.mp4" type="video/mp4">
                <strong>Your browser does not support the video tag.</strong>
              </video>
          </div>          
        </div>
        <div class="row">
          <div class="col-12">
              <div class="mx-auto tm-gallery-container">
                  <div class="grid tm-gallery">
                    <a href="{{ url_for('static', filename='img/fire.90.png') }}">
                      <figure class="effect-honey tm-gallery-item">
                        <img src="{{ url_for('static', filename='img/fire.90.png') }}" alt="Image 1" class="img-fluid">
                        <figcaption>
                          <h2><i>detect1<span>openCV</span></i></h2>
                        </figcaption>
                      </figure>
                    </a>
                    <a href="{{ url_for('static', filename='img/fire.123.png') }}">
                      <figure class="effect-honey tm-gallery-item">
                        <img src="{{ url_for('static', filename='img/fire.178.png') }}" alt="Image 2" class="img-fluid">
                        <figcaption>
                          <h2><i>detect2 <span>openCV</span></i></h2>
                        </figcaption>
                      </figure>
                    </a>
                    <a href="{{ url_for('static', filename='img/fire.298.png') }}">
                      <figure class="effect-honey tm-gallery-item">
                        <img src="{{ url_for('static', filename='img/fire.298.png') }}" alt="Image 3" class="img-fluid">
                        <figcaption>
                          <h2><i><span>detect3</span> openCV</i></h2>
                        </figcaption>
                      </figure>
                    </a>
                    <a href="{{ url_for('static', filename='img/fire.726.png') }}">
                      <figure class="effect-honey tm-gallery-item">
                        <img src="{{ url_for('static', filename='img/fire.726.png') }}" alt="Image 4" class="img-fluid">
                        <figcaption>
                          <h2><i>detect4 <span>openCV</span></i></h2>
                        </figcaption>
                      </figure>
                    </a>
                    <a href="{{ url_for('static', filename='img/fire.178.png') }}">
                      <figure class="effect-honey tm-gallery-item">
                        <img src="{{ url_for('static', filename='img/fire.178.png') }}" alt="Image 5" class="img-fluid">
                        <figcaption>
                          <h2><i><span>detect5</span>openCV</i></h2>
                        </figcaption>
                      </figure>
                    </a>
                  </div>
              </div>                
          </div>  
      </div>
    </section>

  </section>
    
  <section id="testimonials" class="tm-section-pad-top tm-parallax-2">      
    <div class="container tm-testimonials-content">
      <div class="row">
        <div class="col-lg-12 tm-content-box">
          <h2 class="text-white text-center mb-4 tm-section-title">딥러닝의 기술을 테스트 해보기</h2>
          <p class="mx-auto tm-section-desc text-center">
              사용자의 사진을 받아 실제 화재의 진위를 판별해줍니다.
            </p>
          <div class="mx-auto tm-gallery-container tm-gallery-container-2">
            <div class="tm-testimonials-carousel">

              <figure class="tm-testimonial-item">
                <form action="" method="post"  enctype="multipart/form-data">
                  <center>
                    <p>
                      <div class="filebox"> 
                        <label for="ex_file">업로드</label> 
                        <input type="file" name="img-path" id="ex_file">
                      </div>
                    </p>
                    <p>
                      <button class="btn btn-primary btn-lg" type='submit'>Start Test</button>
                    </p>
              
                  </center>
              </form>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tm-bg-overlay"></div>
  </section>
    
    <script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>     
    <script src="{{ url_for('static', filename='slick/slick.min.js') }}"></script>
    <script src="{{ url_for('static', filename='magnific-popup/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.singlePageNav.min.js') }}"></script>     
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> 
    <script>

      function getOffSet(){
        var _offset = 450;
        var windowHeight = window.innerHeight;

        if(windowHeight > 500) {
          _offset = 400;
        } 
        if(windowHeight > 680) {
          _offset = 300
        }
        if(windowHeight > 830) {
          _offset = 210;
        }

        return _offset;
      }

      function setParallaxPosition($doc, multiplier, $object){
        var offset = getOffSet();
        var from_top = $doc.scrollTop(),
          bg_css = 'center ' +(multiplier * from_top - offset) + 'px';
        $object.css({"background-position" : bg_css });
      }

      // Parallax function
      // Adapted based on https://codepen.io/roborich/pen/wpAsm        
      var background_image_parallax = function($object, multiplier, forceSet){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        // $object.css({"background-attatchment" : "fixed"});

        if(forceSet) {
          setParallaxPosition($doc, multiplier, $object);
        } else {
          $(window).scroll(function(){          
            setParallaxPosition($doc, multiplier, $object);
          });
        }
      };

      var background_image_parallax_2 = function($object, multiplier){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        $object.css({"background-attachment" : "fixed"});
        
        $(window).scroll(function(){
          if($(window).width() > 768) {
            var firstTop = $object.offset().top,
                pos = $(window).scrollTop(),
                yPos = Math.round((multiplier * (firstTop - pos)) - 186);              

            var bg_css = 'center ' + yPos + 'px';

            $object.css({"background-position" : bg_css });
          } else {
            $object.css({"background-position" : "center" });
          }
        });
      };
      
      $(function(){
        // Hero Section - Background Parallax
        background_image_parallax($(".tm-parallax"), 0.30, false);
    
        background_image_parallax_2($("#testimonials"), 0.80);   
        
        // Handle window resize
        window.addEventListener('resize', function(){
          background_image_parallax($(".tm-parallax"), 0.30, true);
        }, true);

        // Detect window scroll and update navbar
        $(window).scroll(function(e){          
          if($(document).scrollTop() > 120) {
            $('.tm-navbar').addClass("scroll");
          } else {
            $('.tm-navbar').removeClass("scroll");
          }
        });
        
        // Close mobile menu after click 
        $('#tmNav a').on('click', function(){
          $('.navbar-collapse').removeClass('show'); 
        })

        // Scroll to corresponding section with animation
        $('#tmNav').singlePageNav({
          'easing': 'easeInOutExpo',
          'speed': 600
        });        
        
        // Add smooth scrolling to all links
        // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
        $("a").on('click', function(event) {
          if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;

            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 600, 'easeInOutExpo', function(){
              window.location.hash = hash;
            });
          } // End if
        });

        // Pop up
        $('.tm-gallery').magnificPopup({
          delegate: 'a',
          type: 'image',
          gallery: { enabled: true }
        });

        $('.tm-testimonials-carousel').slick({
          prevArrow: false,
          nextArrow: false,
          infinite: false,
          slidesToShow: 3,
          slidesToScroll: 1,
          responsive: [
            {
              breakpoint: 992,
              settings: {
                slidesToShow: 2
              }
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 2
              }
            }, 
            {
              breakpoint: 480,
              settings: {
                  slidesToShow: 1
              }                 
            }
          ]
        });
        
      });
    </script>
  </body>
</html>